<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6">
        <h5>Serviço</h5>
        <a href="~/statico/seguranca-da-informacao.html" title="Segurança da informação">Segurança da informação</a>
        <a href="~/statico/quem-somos.html" title="Quem somos">Quem somos</a>
        <a href="@Url.Action("Contato", "Home")" title="Contato">Contato</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <h5>Pacientes</h5>
        <a href="@Url.Action("CentralAjuda", "Home")" title="Perguntas frequentes">Perguntas frequentes</a>
        <a href="~/statico/termos-e-condicoes.html" title="Termos e condições">Termos e condições</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <h5>Instituições de saúde</h5>
        <a href="@Url.Action("Contato", "Home")" title="Entre em contato">Entre em contato</a>
        <a href="~/statico/termos-e-condicoes.html" title="Termos e condições">Termos e condições</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <img class="logo-footer" src="img/logo-reduz-jenn.png" alt="" />
        <p>Ghan consultoria e sistemas Ltda. Estrada das Lagrimas, 1877 São Caetano do Sul - SP</p>
        <ul class="social">
            <li><a href="" title=""><img src="/img/social/icone-facebook.png" alt="" /></a></li>
            <li><a href="" title=""><img src="/img/social/icone-instagram.png" alt="" /></a></li>
            <li><a href="" title=""><img src="/img/social/icone-linkedin.png" alt="" /></a></li>
        </ul>
    </div>
</div>