@model List<string>
@using System.Text.RegularExpressions;

<div class="content-select">
    <div class="search">
        <input onkeyup="pesquisar(this, 'checkconveniopesquisas_','data-conveniopesquisas')" class="pesquisaconveniopesquisas" type="text" placeholder="Pesquisar" />
    </div>
    <div class="list-check">
        @if (Model.Any())
        {
            int i = 0;
            @foreach (var item in Model)
            {
                <div class="content-list">
                    <input  data-controller="conveniopesquisas"  onclick="apliqueCount('checkconveniopesquisas_','apliqueconveniopesquisas', this)"   class="form-check-input checkconveniopesquisas_@i" type="checkbox" value="" data-conveniopesquisas="@item.ToLower()" data-conveniopesquisas-encode="@Regex.Replace(item.ToLower(), "[^0-9a-zA-Z]+", "")">
                    <label class="form-check-label" for="defaultCheck1">
                        @item
                    </label>
                </div>
                i++;
            }

            <div class="action-list botoesfiltro">
                <a href="" class="link">
                    Cancelar
                </a>
                <a  data-count="0" onclick="buscarporconveniopesquisas()"  class="btn btn-secondary apliqueconveniopesquisas">
                    Aplique(0)
                </a>
            </div>
        }
    </div>
</div>


<script src="/js/general.js"></script>
<script src="/js/conveniopesquisas.js"></script>

