@model IEnumerable<Empresa>




    <h1>@ViewBag.Produto em @ViewBag.Localidade</h1>

@foreach (var item in Model)
{
    ui.portal.jenn.ViewModel.PesquisaViewModel pesquisaViewModel = new ui.portal.jenn.ViewModel.PesquisaViewModel();
    pesquisaViewModel.NomeEmpresa = item.matriz != null ? item.matriz.nome : "";
    pesquisaViewModel.Localidade = item.logradouro;

    pesquisaViewModel.DescricaoProcedimento = "";
    IEnumerable<ProcedimentoEmpresa> procedimentoEmpresas = item.procedimentoEmpresas.ToList();
    List<ConsultaAgendaViewModel> consultaAgendaViewModels = new List<ConsultaAgendaViewModel>();

    string tipoprocedimento = "";
    int i = 0;
    foreach (var itemEmp in procedimentoEmpresas)
    {
        string operador = "";
        if(i > 0)
        {
            if(i + 1 == procedimentoEmpresas.Count())
                operador = " e ";
            else
                operador = ", ";
        }


        if (tipoprocedimento.IndexOf(itemEmp.procedimento.tipoProcedimento.nome + ";") == -1)
        {
            pesquisaViewModel.DescricaoProcedimento += operador + itemEmp.procedimento.tipoProcedimento.nome;
            tipoprocedimento += itemEmp.procedimento.tipoProcedimento.nome + ";";
        }



        if(itemEmp.agendas != null &&itemEmp.agendas.Count() > 0)
            consultaAgendaViewModels.AddRange(itemEmp.agendas);

        i++;
    }

    pesquisaViewModel.EmpresaID = item.empresaID;

    pesquisaViewModel.Opiniao = item.avaliacoes.Count();
    pesquisaViewModel.NomeUnidade =  item.nome;
    pesquisaViewModel.EnderecoCompleto =  item.logradouro + ", " + item.numero + " - " + item.bairro;
    pesquisaViewModel.EnderecoLoja = item.url_loja;
    pesquisaViewModel.UrlImagem =  item.imgemFrontEmpresa;
    pesquisaViewModel.UrlMaps = item.maps;
    pesquisaViewModel.TipoEmpresa = item.TipoEmpresa;
    pesquisaViewModel.Produto = ViewBag.Produto;

    pesquisaViewModel.Convenios = item.procedimentoEmpresas.SelectMany(p => p.planoProcedimentoEmpresas).Select(c => c.plano.convenio).ToList();

    pesquisaViewModel.consultaAgendaViewModels = consultaAgendaViewModels;

    if(ViewBag.idProcedimento != null)
        pesquisaViewModel.IdProcedimento = ViewBag.idProcedimento;

    @await Component.InvokeAsync("ProcedimentoLista", pesquisaViewModel)
}
