@model IEnumerable<Empresa>




    <h1>@ViewBag.Produto em @ViewBag.Localidade</h1>

@foreach (var item in Model)
{
    ui.portal.jenn.ViewModel.PesquisaViewModel pesquisaViewModel = new ui.portal.jenn.ViewModel.PesquisaViewModel();
    pesquisaViewModel.NomeEmpresa = item.matriz != null ? item.matriz.nome : "";
    pesquisaViewModel.Localidade = item.logradouro;

    pesquisaViewModel.DescricaoProcedimento = "";
    IEnumerable<ProcedimentoEmpresa> procedimentoEmpresas = item.procedimentoEmpresas.ToList();
    int i = 0;
    foreach (var itemEmp in procedimentoEmpresas)
    {
        string operador = "";
        if(i > 0)
        {
            if(i + 1 == procedimentoEmpresas.Count())
                operador = " e ";
            else
                operador = ", ";
        }

        pesquisaViewModel.DescricaoProcedimento += operador + itemEmp.procedimento.tipoProcedimento.nome;

        i++;
    }



    pesquisaViewModel.Opiniao = item.avaliacoes.Count();
    pesquisaViewModel.NomeUnidade =  item.nome;
    pesquisaViewModel.EnderecoCompleto =  item.logradouro + ", " + item.numero + " - " + item.bairro;
    pesquisaViewModel.EnderecoLoja = "???";
    pesquisaViewModel.UrlImagem =  item.imgemFrontEmpresa;
    pesquisaViewModel.UrlMaps = item.maps;

    pesquisaViewModel.Convenios = item.procedimentoEmpresas.SelectMany(p => p.planoProcedimentoEmpresas).Select(c => c.plano.convenio).ToList();

    @await Component.InvokeAsync("ProcedimentoLista", pesquisaViewModel)
}
