@model IEnumerable<ProcedimentoEmpresa>




    <h1>@ViewBag.Produto em @ViewBag.Localidade</h1>

@foreach (var item in Model)
{
    ui.portal.jenn.ViewModel.PesquisaViewModel pesquisaViewModel = new ui.portal.jenn.ViewModel.PesquisaViewModel();
    pesquisaViewModel.NomeEmpresa = "???";
    pesquisaViewModel.Localidade = item.empresa != null? item.empresa.logradouro : "";
    pesquisaViewModel.DescricaoProcedimento = "???";
    pesquisaViewModel.Opiniao = 9999999;
    pesquisaViewModel.NomeUnidade = item.empresa != null ? item.empresa.nome : "";
    pesquisaViewModel.EnderecoCompleto = item.empresa != null ? item.empresa.logradouro : "";
    pesquisaViewModel.EnderecoLoja = "???";

    @await Component.InvokeAsync("ProcedimentoLista", pesquisaViewModel)
}
