<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/icon-font.css">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icones/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <title>Jenn</title>
</head> 
<body class="page page-exame">
    <div class="splash-left"></div>
    <div class="splash-right"></div>
    <header class="header">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-6">
                <h1>
                    <div class="header__background">
                        <a href="@Url.Action("Inicio", "Home")" title="Jenn">
                            <img class="header__background--logo" src="~/img/logo-jenn.png" alt="Logotipo Jenn" />
                        </a>
                    </div>
                </h1>
            </div>
            <div class="col-xl-9 col-lg-7 col-md-7 col-6">
                <div class="row">
                    <div class="col-xl-6">
                        @await Component.InvokeAsync("TopoLink")
                    </div>
                    <div class="col-xl-6">
                        @await Component.InvokeAsync("TopoControleLink")
                    </div>
                </div>

            </div>
        </div>


    </header>

    <main class="main">
        <section class="exame page-interna">
            <div class="col-lx-9 offset-xl-3">
                <div class="row">
                    <div class="col-select">
                        <div class="item-select">
                            <span>Convênios</span>
                        </div>
                        @await Component.InvokeAsync("ConvenioPesquisas")
                    </div>
                    <div class="col-select">
                        <div class="item-select">
                            <span>Bairros</span>
                        </div>
                        @await Component.InvokeAsync("Bairros")
                    </div>
                    <div class="col-select">
                        <div class="item-select">
                            <span>Serviços</span>
                        </div>
                        @await Component.InvokeAsync("Servicos")
                    </div>
                    <div class="col-select">
                        <div class="item-select">
                            <span>Método de pagamento</span>
                        </div>
                        @await Component.InvokeAsync("Pagamentos")
                    </div>
                    <div id="todosfiltros" class="col-select">
                        <div class="item-select item-filtro">
                            <span>Todos os filtros</span>
                        </div>
                        <div class="content-select" style="width: 100%;">

                            <div class="accordion">
                                <input id="toggle1" type="radio" class="accordion-toggle" name="toggle" />
                                <label for="toggle1">Convênios</label>
                                <section>
                                    @await Component.InvokeAsync("ConvenioPesquisas")
                                </section>
                            </div>

                            <div class="accordion">
                                <input id="toggle2" type="radio" class="accordion-toggle" name="toggle" />
                                <label for="toggle2">Bairro</label>
                                <section>
                                    @await Component.InvokeAsync("Bairros")
                                </section>
                            </div>

                            <div class="accordion">
                                <input id="toggle3" type="radio" class="accordion-toggle" name="toggle" />
                                <label for="toggle3">Serviços</label>
                                <section>
                                    @await Component.InvokeAsync("Servicos")
                                </section>
                            </div>

                            <div class="accordion">
                                <input id="toggle4" type="radio" class="accordion-toggle" name="toggle" />
                                <label for="toggle4">Método de pagamento</label>
                                <section>
                                    @await Component.InvokeAsync("Pagamentos")
                                </section>
                            </div>

                            <div style="padding-top: 50%;" class="action-list">
                                <a onclick="filtrarTodos()" id="botaofiltrartodos" href="" class="btn btn-secondary">
                                    Aplique(0)
                                </a>
                            </div>

                    </div>



                    </div>
                </div>
            </div>

            <main role="main" class="pb-3">
                <div class="col-12">
                    <div id="parcialpesquisa" class="row">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </section>
    </main>

    <footer class="footer">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte1")

            </div>
            <div class="col-xl-5 offset-xl-1  right-side col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte2")
            </div>
        </div>
    </footer>


        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/js/script.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

