
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icones/favicon.ico">

    <title>Jenn</title>
</head>

<body class="page page-central">
    <div class="splash-left"></div>
    <div class="splash-right"></div>
    <header class="header">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-6">
                <div class="header__background">
                    <a href="@Url.Action("Inicio", "Home")" title="Jenn">
                        <img class="header__background--logo" src="/img/logo-jenn.png" alt="Logotipo Jenn" />
                    </a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-7 col-md-7 col-6">
                <div clSass="header__top">
                    <div class="page-name">
                        <h1>Central de Ajuda</h1>
                    </div>
                    <div class="menu-header">
                        @await Component.InvokeAsync("TopoControleLink")
                    </div>

                </div>

            </div>
        </div>


    </header>

    <main class="main">

        <section class="central-exames page-interna">
            <div class="row">
                <div class="col-xl-8">
                    <h2>Perguntas Frequentes</h2>
                    <div class="tabs">
                        @*<div class="tab">
                            <input type="checkbox" id="chck1">
                            <label class="tab-label" for="chck1">Convênios</label>
                            <div class="tab-content">
                                <p>
                                    A sugestão de agenda é uma facilidade que a Jenn traz ao paciente, nesta funcionalidade o paciente informa a data e hora que gostaria de ser atendido,
                                </p>
                                <p>
                                    clínica ou laboratório recebe a sugestão e confirma ou sugere a data mais próxima de forma online e sem burocracia.
                                </p>
                                <p>
                                    <mark>   É importante destacar que a data sugerida não é um agendamento podendo sofrer alterações de acordo com a disponibilidade do estabelecimento de saúde.</mark>
                                    A funcionalidade de sugestão de agenda está disponível apenas para estabelecimentos verificados pela Jenn.
                                </p>

                            </div>
                        </div>*@
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">O que é a sugestão de agenda?</label>
                            <div class="tab-content">
                                <p>
                                    A sugestão de agenda é uma facilidade que a Jenn traz ao paciente, nesta funcionalidade o paciente informa a data e hora que gostaria de ser atendido,
                                </p>
                                <p>
                                    clínica ou laboratório recebe a sugestão e confirma ou sugere a data mais próxima de forma online e sem burocracia.
                                </p>
                                <p>
                                    <strong>   É importante destacar que a data sugerida não é um agendamento podendo sofrer alterações de acordo com a disponibilidade do estabelecimento de saúde.</strong>
                                    A funcionalidade de sugestão de agenda está disponível apenas para estabelecimentos verificados pela Jenn.
                                </p>
                            </div>
                        </div>

                        <div class="tab">
                            <input type="checkbox" id="chck3">
                            <label class="tab-label" for="chck3">Posso escolher qualquer horário?</label>
                            <div class="tab-content">
                                <p>
                                    Na sugestão de agenda você pode escolher qualquer horário, mas a confirmação da agenda depende do estabelecimento de saúde,
                                </p>
                                <p>
                                    dessa maneira a data sugeria poderá ser alterada pelo estabelecimento de saúde.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck4">
                            <label class="tab-label" for="chck4">Quais os planos de saúde aceitos?</label>
                            <div class="tab-content">
                                <p>
                                    Cada estabelecimento tem sua própria lista de planos de saúde aceitos, por isso consulte a lista na Jenn antes do agendamento.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck5">
                            <label class="tab-label" for="chck5">O pagamento é seguro?</label>
                            <div class="tab-content">
                                <p>
                                    O pagamento online é seguro e 100% garantido pelo parceiro Pagseguro, um dos maiores gateways de pagamentos da américa latina,
                                </p>
                                <p>
                                    os pagamentos são integralmente pagos ao laboratório.
                                </p>
                                                        </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck6">
                            <label class="tab-label" for="chck6">Como comprar os exames online?</label>
                            <div class="tab-content">
                                <p>
                                    Quando o estabelecimento oferece a compra de exames online a opção será exibida no momento do agendamento.
                                </p>
                                <p> Ao optar por essa modalidade após o agendamento você será direcionado ao modulo de pagamento no ambiente da loja virtual do estabelecimento.  </p>
                                <p>Basta finalizar o pagamento e em seguida você receberá um voucher referente ao exame.  </p>
                                <p>Você pode imprimir o voucher e se direcionar ao laboratório ou se preferir não imprimir, basta apresentar seu documento como número de CPF para ser atendido.  </p>
                                
                            </div>
                        </div>
                        @*<div   class="tab">
                            <input type="checkbox" id="chck7">
                            <label class="tab-label" for="chck7">Como fazer uma reclamação da clínica?</label>
                            <div class="tab-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                                </p>
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="col-xl-3 offset-xl-1">
                    <h2>Entre em contato</h2>
                    @model ui.portal.jenn.ViewModel.ContatoViewModel
                    <form asp-action="CentralAjuda" asp-controller="Home" method="post" asp-antiforgery="true" class="f-pages">
                        <div class="form-group">
                            <label for="InputNome">Nome</label>
                            <input asp-for="Nome" maxlength="100" type="text" class="form-control" id="InputNome" aria-describedby="emailHelp" placeholder="Digite seu nome" required>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <input asp-for="Email" maxlength="100" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Digite seu email" required>
                        </div>
                        <div class="form-group">
                            <label for="InputTelefone">Telefone</label>
                            <input asp-for="Telefone" type="text" class="form-control" id="InputTelefone" aria-describedby="emailHelp" placeholder="(  )  _ _ _ _ - _ _ _ _ _" required>
                        </div>
                        <div class="form-group">
                            <label for="FormControlTextarea">Mensagem</label>
                            <textarea asp-for="mensagem_cont" class="form-control" id="FormControlTextarea" rows="3" placeholder="Sua mensagem"></textarea>
                        </div>


                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
             </div>
        </section>
    </main>

    <footer class="footer">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte1")

            </div>
            <div class="col-xl-5 offset-xl-1  right-side col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte2")
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script type="text/javascript" src="/js/script.js"></script>

    <script>
        (function () {
            $('#InputTelefone').mask("(999) 99999-9999");
        })();
    </script>

    @if (ViewBag.Mensagem != null)
    {
        @await Component.InvokeAsync("Popup")
        <script>
            (function () {
                $("#ModalCentralizado").modal();
            })();
        </script>
    }


</body>
</html>