@model IEnumerable<api.portal.jenn.DTO.Plano>
<fieldset>
    <div class="panel panel-primary">
        <div class="panel-heading">Lista de Planos do Convenio - @ViewBag.Convenio</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.PlanoID">Delete</a>
                        </td>   
                    </tr>
                }
            </tbody>
        </table>
        </div>
</fieldset>