@model api.portal.jenn.DTO.Procedimento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutProcedimentos.cshtml";
}
 
    <form asp-controller="Procedimento" asp-action="Create" method="post" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset>
            <div class="panel panel-primary">
                <div class="panel-heading">Cadastro de um Novo Procedimento</div>

                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-11 control-label">
                            <p class="help-block"><h11>*</h11> Campo Obrigatório </p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>
                        <div class="col-md-8">
                            <input id="Nome" asp-for="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Descricao">Descrição <h11>*</h11></label>
                        <div class="col-md-8">
                            <input asp-for="Descricao" class="form-control" type="text" multiple />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Imagem">Imagem procedimento <h11>*</h11></label>
                        <div class="col-md-8">
                            <input asp-for="ImgProduto_Proc" class="form-control" type="text" multiple />
                            <span asp-validation-for="ImgProduto_Proc" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Categoria"> Categoria <h11>*</h11></label>
                        <div class="col-md-8">

                            <select class="form-control input-md" asp-for="TipoProcedimento"
                                    asp-items="@ViewBag.TipoProcedimento"></select>

                            <span asp-validation-for="TipoProcedimento" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Cadastrar"></label>
                        <div class="col-md-8">
                            <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                            <button id="Cancelar" name="Cancelar" class="btn btn-danger" asp-action="Index" type="Reset">Cancelar</button>
                            <a class="btn btn-info" asp-action="Index">Voltar Para a Lista de Procedimentos</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
