  @model IEnumerable<ui.portal.jenn.ViewModel.TipoProcedimentoViewModel>
 
<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="links">

        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <a href="/Produtos/ListaTipoProduto?TipoProduto=@item.Nome" title="">@item.Nome</a>
            }
        }


    </div>
</div>