@model List<string>
@using System.Text.RegularExpressions;


<div class="content-select"  style="width: 100%;">
    <div class="search">
        <input onkeyup="pesquisar(this, 'checkpagamento_','data-pagamento')" class="pesquisapagamento" type="text" placeholder="Pesquisar" />
    </div>
    <div class="list-check">
        @if (Model.Any())
        {
            int i = 0;
            @foreach (var item in Model)
            {
                <div class="content-list">
                    <input   data-controller="pagamento"   onclick="apliqueCount('checkpagamento_','apliquepagamento', this)"   class="form-check-input checkpagamento_@i" type="checkbox" value="" data-pagamento="@item.ToLower()" data-pagamento-encode="@Regex.Replace(item.ToLower(), "[^0-9a-zA-Z]+", "")">
                    <label class="form-check-label" for="defaultCheck1">
                        @item
                    </label>
                </div>
                i++;
            }

            <div class="action-list botoesfiltro">
                <a href="" class="link">
                    Cancelar
                </a>
                <a  data-count="0" onclick="buscarporpagamentos()"   class="btn btn-secondary apliquepagamento">
                    Aplique(0)
                </a>
            </div>
        }
    </div>
</div>


<script src="/js/general.js"></script>
<script src="/js/pagamentos.js"></script>

