.btn {
    color: $color-white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    &.btn-primary{
        background-color: #71dda1;
        font-size: toRem(25);
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 1.5rem;

    }
}