@model List<string>
@using System.Text.RegularExpressions;

<div data-cidade-pageatual="1"   class="content-select">
    <div class="search">
        <input onkeyup="pesquisar(this, 'checkcidade_','data-cidade')" class="pesquisacidade" type="text" placeholder="Pesquisar" />
    </div>
    <div class="list-check">
        @if (Model.Any())
        {
            int i = 0;
            int qntporpagina = 4;
            int pagina = 1;
            int countpagina = 1;
            string visivel = "";
            @foreach (var item in Model)
            {
                if (countpagina > qntporpagina)
                {
                    countpagina = 1;
                    pagina++;
                    visivel = "display:none;";
                }
                <div style="@visivel" data-cidade-page="@pagina" class="content-list">
                    <input data-controller="cidade" onclick="apliqueCount('checkcidade_','apliqueCidade',this)" class="form-check-input checkcidade_@i" type="checkbox" value="" data-cidade="@item.ToLower()" data-cidade-encode="@Regex.Replace(item.ToLower(), "[^0-9a-zA-Z]+", "")">
                    <label class="form-check-label" for="defaultCheck1">
                        @item
                    </label>
                </div>
                i++;
                countpagina++;
            }

            <div style="text-align:center">
                <a onclick="anterior('cidade')" class="btn">
                    <img src="/img/exames/seta-esq.png">
                </a>

                <a onclick="proximo('cidade')" class="btn">
                    <img src="/img/exames/seta-dir.png">
                </a>
            </div>


            <div style="margin-top:0" class="action-list botoesfiltro">
                <a href="" class="link">
                    Cancelar
                </a>
                <a data-count="0" onclick="buscarCidades()" class="btn btn-secondary apliqueCidade">
                    Aplique(0)
                </a>
            </div>
        }
    </div>
</div>

<script src="/js/general.js"></script>
<script src="/js/cidades.js"></script>