
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

    <title>Jenn</title>
</head>

<body class="page page-painel">
    <div class="splash-left"></div>
    <div class="splash-right"></div>
    <header class="header">
        <div class="row">
            <div class="col-xl-6 col-lg-4 col-md-5 col-6">
                <h1>
                    <div class="header__background">
                        <a href="@Url.Action("Inicio", "Home")" title="Jenn">
                            <img class="header__background--logo" src="/img/logo-jenn.png" alt="Logotipo Jenn" />
                        </a>
                    </div>
                </h1>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-7 col-md-7 col-6">
                @await Component.InvokeAsync("TopoControleLink")
            </div>
        </div>
    </header>

    <main class="main">
        <section class="painel page-interna">
            <div class="row">
                <div class="col-xl-12">
                    <h2>Meus Serviços Agendados</h2>

                </div>
                <div class="col-xl-4">
                    <div class="card card-painel">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3>Nome do Procedimento</h3>
                                <div class="info">
                                    <div class="content-info">
                                        <h4>Data/Horário</h4>
                                        <p>07/08/2020 - 16h15</p>
                                        <h4>Local</h4>
                                        <p>Laboratório CLM - Unidade Cerâmica</p>
                                        <p class="end">Rua Walter Figueira, 234 - Espaço Cerâmica, São Caetano do Sul. <a href="" target="_blank">Mapa</a></p>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card card-painel">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3>Nome do Procedimento</h3>
                                <div class="info">
                                    <div class="content-info">
                                        <h4>Data/Horário</h4>
                                        <p>07/08/2020 - 16h15</p>
                                        <h4>Local</h4>
                                        <p>Laboratório CLM - Unidade Cerâmica</p>
                                        <p class="end">Rua Walter Figueira, 234 - Espaço Cerâmica, São Caetano do Sul. <a href="" target="_blank">Mapa</a></p>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card card-painel">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3>Nome do Procedimento</h3>
                                <div class="info">
                                    <div class="content-info">
                                        <h4>Data/Horário</h4>
                                        <p>07/08/2020 - 16h15</p>
                                        <h4>Local</h4>
                                        <p>Laboratório CLM - Unidade Cerâmica</p>
                                        <p class="end">Rua Walter Figueira, 234 - Espaço Cerâmica, São Caetano do Sul. <a href="" target="_blank">Mapa</a></p>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card card-painel">
                        <div class="row">

                            <div class="col-xl-12">
                                <h3>Nome do Procedimento</h3>
                                <div class="info">
                                    <div class="content-info">
                                        <h4>Data/Horário</h4>
                                        <p>07/08/2020 - 16h15</p>
                                        <h4>Local</h4>
                                        <p>Laboratório CLM - Unidade Cerâmica</p>
                                        <p class="end">Rua Walter Figueira, 234 - Espaço Cerâmica, São Caetano do Sul. <a href="" target="_blank">Mapa</a></p>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte1")

            </div>
            <div class="col-xl-5 offset-xl-1  right-side col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte2")
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>