
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

    <title>Jenn</title>
</head>

<body class="page page-seguranca">
    <div class="splash-left"></div>
    <div class="splash-right"></div>
    <header class="header">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-6">
                <div class="header__background">
                    <a href="@Url.Action("Inicio", "Home")" title="Jenn">
                        <img class="header__background--logo" src="/img/logo-jenn.png" alt="Logotipo Jenn" />
                    </a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-7 col-md-7 col-6">
                <div clSass="header__top">
                    <div class="page-name">
                        <h1>Segurança da Informação</h1>
                    </div>
                    <div class="menu-header">
                        @await Component.InvokeAsync("TopoControleLink")
                    </div>

                </div>

            </div>
        </div>


    </header>


    <main class="main">
        <section class="seguranca page-interna">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-page">
                        <p>Lorem ipsum sapien euismod ultricies pretium molestie commodo suspendisse nulla dui aenean conubia accumsan aenean porta, fermentum donec sapien purus arcu est quis lectus consectetur dapibus orci scelerisque cras diam. etiam a dictum metus cras et fusce lacinia lorem, ut libero massa senectus praesent id libero, dictumst consequat nec senectus ultrices augue turpis. risus blandit fames mollis scelerisque semper tellus enim suscipit malesuada, est ultrices lacus vestibulum ipsum fermentum convallis augue euismod felis, inceptos id inceptos quam ut curabitur turpis rutrum. venenatis tempor ligula cursus euismod tempor hendrerit placerat hendrerit vitae fames, platea cras volutpat auctor donec lectus elementum ante eros nec, quisque praesent non ultrices aptent porttitor eget sapien ornare.</p>
                        <p>Vivamus curabitur enim sollicitudin ante luctus torquent lectus lacus facilisis turpis tempus, rhoncus risus pharetra torquent phasellus et viverra sollicitudin vitae suscipit bibendum viverra, commodo amet himenaeos amet lacinia platea nullam taciti sit ut. consectetur libero varius sapien torquent enim a aptent pharetra, adipiscing dictumst ac nostra sit tristique quisque iaculis, vitae sapien sagittis ultrices lorem vulputate lorem. enim ipsum pulvinar dictum torquent sodales etiam rhoncus ad, dapibus velit enim sit sagittis condimentum..</p>
                        <p>Iaculis curabitur blandit ornare malesuada quis elit ipsum vitae curabitur, platea tortor condimentum interdum nulla et eros curabitur, at tincidunt odio posuere lorem egestas odio magna. vulputate felis luctus aptent cras odio donec praesent, platea inceptos orci mollis aenean vel, habitasse litora cursus sollicitudin nibh purus. netus malesuada consectetur iaculis urna habitasse conubia cras venenatis id, etiam pellentesque auctor accumsan inceptos erat mauris sem aliquam himenaeos, nisi libero eu dictumst aliquam euismod odio blandit. pharetra odio convallis nullam conubia augue interdum primis dictumst morbi proin primis justo sit, aliquet senectus ultricies vestibulum sagittis gravida tempus per iaculis diam viverra convallis euismod, nisi euismod accumsan dictum metus et malesuada ac pulvinar massa erat turpis.</p>
                        <p>Adipiscing vel ultrices laoreet diam primis elit elementum fringilla duis cubilia aenean dolor, iaculis ullamcorper iaculis rhoncus fusce duis auctor senectus inceptos habitant.</p>
                    </div>


                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte1")

            </div>
            <div class="col-xl-5 offset-xl-1  right-side col-lg-12 col-md-12">
                @await Component.InvokeAsync("FooterParte2")
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>