@model ui.portal.jenn.ViewModel.ContatoViewModel

<div class="col-xl-3 offset-xl-1">
    <h2>Entre em contato</h2>
    <form asp-action="Contato" method="post" asp-antiforgery="true" class="f-pages">
        <div class="form-group">
            <label for="InputNome">Nome</label>
            <input  asp-for="Nome"  type="text" class="form-control" id="InputNome" aria-describedby="emailHelp" placeholder="Digite seu nome" required>
        </div>
        <div class="form-group">
            <label for="InputEmail">Email</label>
            <input   asp-for="Email"  type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Digite seu email" required>
        </div>
        <div class="form-group">
            <label for="InputTelefone">Telefone</label>
            <input   asp-for="Telefone" type="text" class="form-control" id="InputTelefone" aria-describedby="emailHelp" placeholder="(  )  _ _ _ _ - _ _ _ _ _" required>
        </div>
        <div class="form-group">
            <label for="FormControlTextarea">Mensagem</label>
            <textarea asp-for="Mensagem"  class="form-control" id="FormControlTextarea" rows="3" placeholder="Sua mensagem"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>
 