@model List<string>
@using System.Text.RegularExpressions;

<div class="content-select">
    <div class="search">
        <input onkeyup="pesquisar(this, 'checkprocedimento_','data-procedimento')" class="pesquisaprocedimento" type="text" placeholder="Pesquisar" />
    </div>
    <div class="list-check">
        @if (Model.Any())
        {
            int i = 0;
            @foreach (var item in Model)
            {
                <div class="content-list">
                    <input  data-controller="procedimento"  onclick="apliqueCount('checkprocedimento_','apliqueprocedimento', this)"  class="form-check-input checkprocedimento_@i" type="checkbox" value="" data-procedimento="@item.ToLower()" data-procedimento-encode="@Regex.Replace(item.ToLower(), "[^0-9a-zA-Z]+", "")">
                    <label class="form-check-label" for="defaultCheck1">
                        @item
                    </label>
                </div>
                i++;
            }

            <div class="action-list botoesfiltro">
                <a href="" class="link">
                    Cancelar
                </a>
                <a  data-count="0" onclick="buscarprocedimentos()"   class="btn btn-secondary apliqueprocedimento">
                    Aplique(0)
                </a>
            </div>
        }
    </div>
</div>


<script src="/js/general.js"></script>
<script src="/js/servicos.js"></script>