<div class="brands">
    <nav>
        <ul class="nav">
            <li><a href="" title="Clícicas ">Clícicas </a></li>
            <li><a href="" title="Exames de imagem   ">Exames de imagem   </a></li>
            <li><a href="" title="Tomografia">Tomografia</a></li>
            <li><a href="" title=" São Caetano do Sul - SP"> São Caetano do Sul - SP</a></li>
        </ul>
    </nav>
</div>